
$list-border: 1px solid $border-color;
$list-spacer: .75rem;

.list {
  & > .item {
    padding-top: $list-spacer;
    padding-bottom: $list-spacer;  
  }
  &.divided > .item {
    border-bottom: $list-border;
  }
  &.divided > .item:last-child {
    border: none;
  }
}

.list,
li {
  &.hover {
    &:hover {
      background-color: $grey-lighter;
    }
    &.light:hover {
      background-color: $grey-lighter;
    }
    &.primary:hover {
      background-color: $primary-color-dark;
    }
    &.danger:hover {
      background-color: $danger-color-dark;
    }
    &.grey-light:hover {
      background-color: $grey;
    }
    &.grey-lighter:hover {
      background-color: $grey-light;
    }     
    &.grey-lightest:hover {
      background-color: $grey-lighter;
    } 
  }  
}